header.header#header
	.header__inner.container.container--header
		a.header__logo.logo(href="/index.html")
			+svg('logo')

		nav
			ul.header__list 
				each item in list 
					li.header__item
						a.header__link(href=`/${item.link}`)= item.link 

			//- +svg('123')
			//- +svg("logo")
			//- +svg("icon")
			//- +svg("tor")
			
			//- svg 
			//- 	use(xlink:href='/img/sprites.svg#logo')
			
